.AuthInModal {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.NotInModal{
    margin: auto;
    width: 90%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee; 
    padding: 10px;
    box-sizing: border-box;
}

.AuthInModal input {
    display: block;
}

@media (min-width: 500px) {
    .NotInModal {
        width: 400px;
    }
}